body{
	background-color: #FAFAFA;
	font-family: Georgia;
}
.container{
	background-color: #FAFAFA;
	padding: 0px 25px 20px 25px;
	text-align: center;

}
table{
	width: 100%;
}

h1{
	text-align: center;
	font-size: 60px;
	color: #6E6E6E;
	/* border-bottom: solid #6E6E6E 3px; */
}
/*Align Interests to display in the center third */
div.subnav {
    margin-right: 20px;
    display: 33%;
}
/* Create space above and below interest table */
.sectionInterest{
	padding: 0px 20px 0px 100px;
}
/* Create space between columns of interest table */
TD{
	padding-right: 3em; 
}
/* Align interest points for visual appeal */
TR:last-child TD {
	text-align: left;
	vertical-align: top;
}
