body{
	background-color: #FAFAFA;
	font-family: Georgia;
}
.container{
	background-color: #FAFAFA;
	padding: 0px 75px 0px 75px;
	text-align: center;

}
table{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

h1{
	text-align: center;
	font-size: 60px;
	color: #6E6E6E; 
	padding-bottom: 0px;
	padding-top: 20px;
}
.bigPic{
	float: left;
	max-height: 320px;
	max-width: 270px;
	margin-right: 15px;
}
.bigPic img {
    width: 100%;
    height: auto;
    margin-top: -100px;
}
.meetKati{
	padding: 0px 0px 300px 0px;
	text-align: left;
}
.meetKati h2{
	text-align: left;
}
h2{
	text-align: center;
}
.section{
	padding-bottom: 50px;
}
.navi{
	/*border-bottom: solid #6E6E6E 3px;*/
	padding-bottom: 40px;
	padding-top: 100px;
	text-align: center;
}
/*Align Interests to display in the center third */
div.subnav {
    margin-right: 20px;
    display: 33%;
}
/* Create space above and below interest table */

a {
	padding-bottom: 50px;
}



